$color-purple: #6C63FF;
$color-grey: #8D8D8D;
$color-light: #F2F2F2;
$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #890505;
$color-red: #C22026;
$color-black-2: #000000;
$color-red-2: #C22026; 
$color-section-bg: #EFEFEF;