.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;

  & > * {
    flex: 0 0 20%;
  }

  &-logo {

    .logo{
      display: block;
    }

    & a{
      padding: 1rem;
    }

    & a:hover{
      fill: $color-red-2;
    }
  }


  &-links {
    font-size: 1.5rem;
    color: $color-grey;
    display: block;
    margin-bottom: 3.5rem;
    width: 6rem;
  }

  &-links:hover {
    color: $color-black;
    border-bottom: 1px solid $color-red-2;
  }

  &-para {
    font-size: 1.4rem;
    color: $color-grey;
  }
  &-c {
    color: $color-grey;
    font-size: 1.4rem;

  }

  &-contact:hover p {
    color: $color-black;

  }

  &-contact:hover .footer-c {
    color: $color-black;
    border-bottom: 1px solid $color-red-2;
  }
}

  
.footer-policies{
  display: flex;
  justify-content: space-between;

  &__rights {
    font-size: 1.5rem;
  }

  &__lists {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    li {
      padding: 0 2rem;
      margin-bottom: 2rem;
    }

    li:nth-child(2){
      border-left: 1px solid $color-black;
      border-right: 1px solid $color-black;
    }
  }
}
