.btn-grey {
  background-color: $color-grey;
  color: $color-white !important;
  border-radius: 8px;
  height: 1.8rem;
}

.btn {
  background-color: $color-red-2;
  font-size: 1.5rem;
  color: white;
  padding: .5rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .5s;
  border: solid 1px $color-red-2;
  transition: all .7s;

}

.btn:hover {
  background-color: $color-white;
  color: $color-red-2;
}

.btn-reverse {
  @extend .btn;
  background-color: $color-white;
  color: $color-red-2;
  border: solid 1px $color-red-2;
  transition: all .7s;


}

.btn-reverse:hover {
  background-color: $color-red-2;
  color:$color-white ;

}



