.faq-form {
  display: flex;
  justify-content: space-around;

  &__search {
    align-self: center;

    &-field {
      display: flex;
    }
    input {
  
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
    }

    i {
      background-color: $color-black;
      color: $color-white;
      font-size: 2.5rem;
      padding: 1rem;
    }
  }

  &__image {
    align-self: center;
  }

  @media (max-width:700px){
    flex-direction: column;
    &__search {
      order: 2;
    }

 
  }
}

.list {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  &-section {
    display: flex;
    flex-direction: column;
    li {
      position: relative;
      align-self: center;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: $color-section-bg;
      height: 6rem;
      // width: 47rem;
      margin: 1rem 0;
      padding: 1rem;

      a{
        color: $color-black;
        max-width: 39rem;
        margin-right: 1rem;

     }

     i {
       position: absolute;
       right: 1rem;
       top: 2.5rem;
     }
    }
  }

  @media (max-width:750px){
    gap: 0rem;
    flex-direction: column;
  }
}

// QUESTIONS SECTION
.questions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &-text {
    color: $color-grey-dark;
  }

  i {
    font-size: 5rem;
    color: $color-grey-dark;
  }

  @media (max-width:750px){
    i{
      display: none;
    }
  }
  @media (max-width:550px){
    flex-direction: column;
    align-items: center;
  }
}