.media-cards {
  margin:  0rem 10rem;
  &__card {
    display: flex;
    justify-content: space-between;
    background-color: $color-section-bg;
    padding: 5rem;
    margin-bottom: 2rem;


    & div:first-child {
      max-width: 35rem;
    }

    & div:last-child {
      position: relative;

      span {
        font-size: 23rem;
        font-weight: 600;
        padding: 0;
        position: absolute;
        top: -5rem;
        right: 25rem;
        color: transparent;
        -webkit-text-stroke: 2px $color-red-2;
      }
      

      .top-pic {
        position: absolute;
        z-index: 2;
        right: 11rem;
        top:5rem;
      }
    }
  }

  @media (max-width:950px){
    margin: 0 7rem;

    span {
      display: none;
    }
    &__card {
      flex-direction: column;
      align-items: center;
    }

    .top-pic {
      left: 8rem;
      top:5rem;
    }
  }

  @media (max-width:500px){
    margin: 0 4rem;

  }
}


.demo {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  // gap: 2rem;
  margin-top: 2rem;

  div {
    height: 28rem;
    width: 50rem;
  }

  &-left {
    img {
      padding: 6rem;
    }
  }

  &-right {
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  @media (max-width:850px){
    margin: 0 4rem;
  }
  @media (max-width:750px){
    flex-wrap: wrap;
    justify-content: center;
  }
}