.partner {

  &-para {
    padding: 3rem;
    text-align: center;
    margin: 0 10rem 4rem 10rem;
    
    @media (max-width:900px){
      margin: 0 6rem 4rem 6rem;
    }
    @media (max-width:650px){
      margin: 0 3rem 4rem 3rem;
    }
  }

  &-demo {
    display: flex;
    justify-content: space-around;
    padding: 6rem 13rem;

    &__video {
      flex: 1 1 55%;

      iframe {
        height:26rem;
        width: 100%;
      }

<<<<<<< HEAD
      &-desc {
        h3 {
          margin: 1rem 0;
         
        }
        p {
          margin-bottom: 1.5rem;
        }
=======
      h3 {
        margin: 1rem 0; 
      }
      p {
        margin-bottom: 2rem;
>>>>>>> bf1529b13d9837d85684a0c68277a20287e95063
      }
    }
    
    &__image {
      flex: 1 1 45%;
      height: 52rem;
      overflow: hidden;

<<<<<<< HEAD
=======
      h3 {
        margin: 1rem 0; 
      }

>>>>>>> bf1529b13d9837d85684a0c68277a20287e95063
      img {
        margin-left: 3.5rem;
      }
    }
<<<<<<< HEAD
  }
<<<<<<< HEAD
}
=======
=======
    @media (max-width:1000px){
      padding: 6rem 8rem;
    }
    @media (max-width:850px){
      padding: 6rem 4rem;
      &__video {
        flex: 1 1 50%;
      }
      
      &__image {
        flex: 1 1 50%;
      }
    }

    @media (max-width:750px){
      flex-direction: column;
      align-items: center;

      &__video {
        margin: 0 auto;
      }
    }
  }//Demo Section End

  
>>>>>>> d4bffe5ae8145794ebb39ffbb66bd20f452a37aa
}

// CARD SECTION
.card-section {
  
  &-launch {
    margin: 5rem 10rem;
    display: flex;
    gap: 5rem;

    &__img {
      width: 35rem;
      height: 26rem;
      min-width: 35rem;
      min-height: 26rem;
      box-shadow: 0px 4px 20px #0000002E;
      background-color: $color-white;
      padding: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__desc {
      align-self: center;
    }
  }

  section {
    margin-top: 6rem;

    & > div {
      padding: 4rem 4rem 4rem 0;
    }
  }

  @media (max-width:800px){
    margin: 5rem 3rem;
    &-launch {
      flex-direction:column;
      align-items: center;

    }
  }
  @media (max-width:650px){
    flex-wrap: wrap;
    &-launch {
      justify-content: center;
    }
  }
}

.partner-form {
  margin-top: 8rem;
}
>>>>>>> bf1529b13d9837d85684a0c68277a20287e95063
